/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* Body Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Helvetica, Arial, system-ui;
  height: 100vh;
  line-height: 1.5;
  background-color: #064635;
}

h1 {
  color: #519259;
}

p, label {
  color: white;
}

input {
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.board {
  display: grid;
  height: 500px;
  width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  padding: 2px;
  margin: 2rem;
  
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  border: 1px solid grey;
  cursor: pointer;
  background-color: #F0BB62;
}

.game-modal {
  position: fixed;
  padding: 1rem;
  width: 20rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid grey;
  background-color: #A62A2A;
}

.game-modal * {
  margin: 10px;
}

.game-modal button {
  width: 5rem;
  height: 3rem;
  background-color: #F4EEA9;
  cursor: pointer;
}

button[value="O"] {
  color: red;
}

button[value="X"] {
  color: blue;
}